@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-color: #F87171;
  font-family: 'Montserrat', sans-serif;
}

#wrapper {
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;

}

h1 {
  text-align: center;
  width: 30vw;
  height: 10vh;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-radius: 1rem;
  padding-top: 1rem;
  
}

#container {
  display: flex;
  flex-direction: column;
  width: 25vw;
  text-align: center;
  margin: auto;
}

label {
  text-align: left;
  margin-top: 2rem;
  
  
}
input {
  float: right;
  width: 12vw;
  height: 6vh;
  border-radius: 0.5rem;
}

#link {
  font-size: 1rem;
  font-weight: bold;


}

#submit-btn {
  margin-top: 4rem;
  width: 8vw;
  height: 7vh;
  text-align: center;
  border-radius: 0.5rem;
}
#submit-btn:hover {
  background-color: #EF4444;
}

#output-box {
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 2rem;
  
}

#footer {
  text-align: center;
 
  font-size: 1.7rem;
  
}
.fa {
  padding: 1rem;
  color: black;
}




@media only screen and (max-width: 700px) { 

  #wrapper {
    width: 80vw;
  }
  
  h1 {
    width: 80vw;
    height: 6vh;
    font-size: 1.7rem;
    
  }
  
  #container {
    width: 70vw;
  }
  
  input {
    width: 20vw;
    height: 6vh;
  }
  
  #submit-btn {
    margin-top: 4rem;
    width: 25vw;
    height: 7vh;
    text-align: center;
    border-radius: 0.5rem;
  }
  #submit-btn:hover {
    background-color: #EF4444;
  }
  
  #output-box {
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 2rem;
    
  }
  
  
}